*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li,a,button{
    text-decoration: none;
    cursor: pointer;
}
body{
    overflow-x: hidden;
    background-color: #f8f9fc;
}
a:visited {
    color: black; 
}
/*---------------Header and Nav Part---------------------*/


header nav{
    display: flex;
    align-items: center;
    padding: 10px 2%; 
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
}
header ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px;
    width: 90%;
    font-size: large;
    font-weight: bold;
}

header ul li{
    list-style: none;
    display: inline-block;
    padding: 0.6rem;
    transition: background-color 0.7s ease;
}
header ul .right-button{
    margin-left: auto;
}
#project-calculator button{
    background-color: white;
    color: black;
}
.ham-button{
    display: none;
}
header nav button{
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: blue;
    color: white;
    font-size: 20px;
    box-shadow: 0px black;
    transition: box-shadow 0.7s ease;
}
header nav button:hover{
    box-shadow: 5px 5px 4px black;
}
.logo-img{
    display: inline-block;
    width: auto;
    height: auto;
}
/*-----------drop down menu -----------------------*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 50vw;
}
.dropdown-content img{
    width: 20%;
}
.dropdown-content li {
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap:1vh;
}

.dropdown-content h2 {
    font-size: 16px; 
}

.dropdown-content p {
    font-size: 15px;
    font-weight: normal;
}

.dropdown:hover .dropdown-content {
    display: flex;
}
/*-------------------------End of Nav and header part ------------------------*/
/*-------------------------Start of Hero Section------------------------------*/
main{
    margin-top: 10%;
    position: relative;
}

.hero-section{
    padding: 10vh 0;
    width: 90%;
    margin: auto;
    margin-bottom: 20vh;
}

.hero-grid{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.background-img img{
    z-index: -2;
    position:absolute;
    left: -10%;
    width: 20%;
    height: 40%;
}
.hero-text{
    display: flex;
    flex-direction: column;
    gap: 10vh;
    font-size: 1.5rem;
    position: relative;
}
.hero-video video{
    width: 120%;
    border-radius: 50px;
}

.arrow{
    position: absolute;
    bottom: -35%;
    left: 35%;
    transform: rotate(10deg);
    z-index: -1;
}

.highlight-color-3,.highlight-color-4,.highlight-color-5{
    position: relative;
}
.highlight-shape{
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    right: 0;
}
.hero-buttons{
    display: flex;
    gap: 3vw;
    bottom: 0;
    left: 10%;
}

.hero-buttons button{
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: aliceblue;
    font-size: larger;
    transition: background-color 0.3s ease , box-shadow 0.7s ease;
}
.hero-buttons button:hover{
    background-color: blue;
    box-shadow: 5px 5px 4px black;
    color: white;
}

/*----------------------------------End of Main section----------------------------------*/
/*-----------------------------------Start of slider partnership section------------------------*/
.slider-partnership{
    margin-top: 10vh;
    width: 100%;
}
.slider-partnership p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.slider-container{
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
}

.slider-container:before,.slider-container:after{
    position: absolute;
    top: 0;
    height: 100%;
    width: 10%;
    content: "";
    z-index: 1;
}
.slider-container:before{
    left: 0;
    background: linear-gradient(to left,rgba(255, 255, 255, 0),#f8f9fc);
}
.slider-container:after{
    right: 0;
    background: linear-gradient(to right,rgba(255, 255, 255, 0),#f8f9fc);
}
.slider-track img{
    height: 40px;
    margin: 0 40px;
}
.slider-track{
    display: inline-block;
    animation: 50s slide infinite linear;
}



@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
/*-----------------------------------End of partnership section------------------------*/

/*-------------------------------------Start of What we do section --------------------*/
.what-we-do {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.what-we-do h3{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
.what-we-do p#what-we-paragraph{
    text-align: center;
}

/* container */
.what-we-do-list {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.what-we-do-buttons{
    display: flex;
    justify-content: space-around;
    margin-bottom:20px ;
}
.tab{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    background-color: white;
    border: 3px solid black;
    transition: background-color 0.7s ease , box-shadow 0.5s ease;
    text-align: left;
    width: 30%;
    display: flex;
}
.tab span{
    margin-left: auto;
}

.tab.active {
    background-color: #5b00f7;
    color: #fff;
}
.tab:hover:not(.tab.active) {
    background-color: #955cf8;
    color: white;
    box-shadow: 5px 5px 4px black;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}
.service {
    padding: 20px;
}
.service h4 {
    font-size: 1.25rem;
    margin-bottom: 2vh;
}

.service p {
    color: gray;
    font-size: 1rem;
    line-height: 1.5;
}
/*-------------------------------------End of What we do section ----------------------*/
/*-------------------------------------Start of Ads section ---------------------------*/
.ads-section{
    background: linear-gradient(90deg, #0d1936, #14264f);
    padding: 20px;
    border-radius: 20px;
    position: relative;
    width: 60%;
    margin: 0 auto;
}
.ads {
    text-align: center;
    color: #fff;
}

.ads h2 {
    font-size: 2rem;
    margin-bottom: 1vh;
}

.ads p {
    margin-bottom: 2vh;
    font-size: 1rem;
}
.ads-button {
    background-color: #ffcc32;
    color: #000;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
}
.ads-button:hover{
    background-color: #7a6115;
}
.ads-arrow img{
    position: absolute;
    right: 24%;
    bottom: 0;
}
/*-------------------------------------End of Ads section ---------------------------*/
/*------------------------------------Start of description section-------------------*/
.description-section{
    margin-top: 10vh;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.desc-list{
    display: flex;
    width: 80%;
}
.desc-img img{
    height: 70%;
    width: 80%;
}
.desc-text h4{
    font-size: 2rem;
    margin-bottom: 1vh;
}
.desc-text p{
    margin-bottom: 1vh;
    font-size: 1rem;
    margin-top: 2vh;
}
.desc-text ul li::marker{
    color: rgb(91, 241, 91);
}

.desc-text a{
    color: #5e76f8;
}
/*------------------------------------End of description section --------------------*/

/*-------------------------------------Start of partnership section -----------------*/
.partnership{
    width: 80%;
    margin: 0 auto;
    background: #f8f9fc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.partnership h2{
    text-align: center;
    color: #333;
    margin-bottom: 5vh;
}

.process {
    display: flex;
    justify-content: space-between;
    gap: 10vw;
}
.numbers{
    border: 5px solid #955cf8 ;
    padding: 2px;
    background-color: #955cf8;
    border-radius: 100px;
    color: white;
    margin-left: auto;
}
.step{
    border: 2px solid #955cf8 ;
    border-radius: 20px;
    padding: 20px;
}
.step h2{
    margin-bottom: 3vh;
}
.step p{
    margin-bottom: 3vh;
}
.step ul li{
    padding: 10px;
    cursor: default;
}

.step ul li::marker{
    color: rgb(91, 241, 91);
}
.partner-ship-button{
    width: 90%;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    margin-left: 5vw;
    gap: 5vw;
}
.partner-ship-button button{
    border-radius: 100px;
    background-color: #955cf8;
    color: white;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
}
.partner-ship-button button:hover{
    border-radius: 100px;
    background-color: white;
    color: #955cf8;
}
.process .step:not(.active){
    background-color: #955cf8;
    color: white;
}
.process .step:not(.active) h2{
    color: white;
}
/*-------------------------------------End of partnership section -----------------*/

/*-----------------------------------------Start of Footer------------------------ */
.footer {
    background-color: #0b1c2c;
    color: #ffffff;
    padding: 40px 0;
    font-family: 'Arial', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h3 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #ffffff;
}

.footer-section p, .footer-section a {
    font-size: 1rem;
    line-height: 1.8;
    color: #ffffff;
    text-decoration: none;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a:hover {
    color: #08c;
}

/* Footer Logo and Contact */
.footer-logo {
    width: 50%;
    margin-bottom: 20px;
}

.footer-contact p {
    margin-bottom: 10px;
}

.footer-contact a {
    color: #ffffff;
    text-decoration: none;
}

.footer-social a img {
    width: 30px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.footer-social a img:hover {
    transform: scale(1.1);
}


.footer-bottom {
    display: flex;
    align-items: center;
    padding: 30px 30px 0px;
    border-top: 1px solid #2a3d54;
    margin-top: 40px;
    justify-content: space-between;
}

.footer-buttons {
    display: flex;
    gap: 20px;
}

.project-calculator, .discuss-project {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.project-calculator {
    background-color: #ffffff;
    color: #0b1c2c;
    transition: background-color 0.3s ease;
}
.project-calculator:hover{
    background-color: #5b00f7;
    color: white;
}
.discuss-project {
    background-color: #ffcc00;
    color: #0b1c2c;
    transition: background-color 0.3s ease;
}
.discuss-project:hover{
    background-color: #ac8a03;
}

.footer-links a {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
    position: relative;
}

.footer-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #955cf8;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

.footer-links a:hover::after {
    width: 100%;
}


.footer-copyright {
    font-size: 0.9rem;
    color: #ffffff;
    
}

/*-----------------------------------------End of Footer------------------------ */

/*----------------------------------------Tablet or mobile Mode----------------------------*/

@media(width<1150px)
{
    /*-------Header-------------*/
    header ul li:not(.ham-button){
        display: none;
    }
    .ham-button{
        display: flex;
        margin-left: auto;
        justify-content: space-between;
        align-items: center;
    }
    .ham-button img{
        margin-left:10px ;
    }
    .ham-button button{
        background-color: white;
        color: black;
        border: none;
    }
    header nav button:hover{
        box-shadow: none;
    }
    /*----------Hero-----------*/
    .hero-section{
        margin-bottom: 5dvh;
    }
    .hero-grid{
        flex-direction: column;
        width: 90%;
    }
    .hero-text{
        gap: 5vh;
        font-size: 1.2rem;
    }
    .hero-video video{
        width: 100%;
    }
    .hero-buttons{
        position: relative;
        display: flex;
        gap: 3vw;
        bottom: 0;
        left: 10%;
        margin-bottom: 10dvh;
    }
    .arrow{
        display: none;
    }
    .background-img img{
        z-index: -2;
        position:absolute;
        left: -10%;
        width: 20%;
        height: 20%;
    }

    /*-------------Ads---------*/
    .ads-arrow img{
        display: none;
    }
    /*----------Partnership-------*/
    .process .step:not(.active){
        display: none;
    }
    .tab.active{
        width: 100%;
    }
    .tab:not(.active) {
        display: none;
    }
    /*---------------footer---------*/
    .footer-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-buttons {
        margin-bottom: 10%;
    }
    .footer-bottom{
        flex-direction: column;
        gap: 1rem;
    }
    .footer-links a{
        margin:  1px;
    }
}